body
{
  background-color: #F5F5F5;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  margin: auto;
  width: fit-content;
  justify-content: center;
  text-align: center;
  padding: 5px;
  background-color: #484849;
}
.numbers{
  background-color: #777677;
  color: #FFFFFF;
  font-size: 32px;
  width: 50px;
  padding: 20px;
}